@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: ChakraPetch-Light;
    src: url("./fonts/Chakra_Petch/ChakraPetch-Light.ttf");
}
@font-face {
    font-family: ChakraPetch-Regular;
    src: url("./fonts/Chakra_Petch/ChakraPetch-Regular.ttf");
}
@font-face {
    font-family: ChakraPetch-Bold;
    src: url("./fonts/Chakra_Petch/ChakraPetch-Bold.ttf");
}

@font-face {
    font-family: Akkordeon-Regular;
    src: url("./fonts/Akkordeon/Akkordeon-DEMO.ttf");
}